body 
{
}
#corpo
{
	width:100%;
	display:table;
	
}
#topo
{
	height:auto;
	background-color:#E0E1D9;
	border-bottom:2px solid #ccc;
	overflow:auto;
}
#topo #detalhes
{
	float:left;
}
#topo #dataGeracao
{
	float:right;
	padding:5px 5px 0 0;
	font-weight:bold;
	color:#424344;
}
h1
{
	margin:0;
	padding:5px;
	color:#424344;
}
h2
{
	margin:0;
	padding:5px;
	color:#424344;
}
#topo p
{
	padding:0 0 0 5px;
}
table
{
	width:100%;
	border-left:5px solid #fff;
	border-right:5px solid #fff;
}
table tr td
{
	padding:2px 0 2px 0;
	font-size:9px;
}
table tr td.moeda
{
	background-color:#FFD700;
}
table tr td.valores
{
	text-align:right;
}
table tr td.valores a
{
	color:#000;
	text-decoration:underline;
}
table th tr.titulo td
{
	padding:2px 0 5px 0;
	font-weight:bold;
}

	.titulo
	{
		padding: 2px 0 5px 0;
		font-weight: bold;
		font-size: 9px;
	}

table tr.linha td
{
	border-bottom:1px dashed #ecc;
}

    table tr.nivel0 td {
        /*	        color:#000;*/
    }

    table tr.nivel1 td {
        /*	        color:Green;*/
        background: #e9f2df;
    }

    table tr.nivel2 td {
        /*	        color:Maroon;*/
        background: #fdf0ff;
    }

    table tr.nivel3 td {
        /*	        color:Navy;*/
        background: #e8fcfc;
    }

    table tr.nivel4 td {
        /*	        color:Orange;*/
        background: #fefce1;
    }

	table tr.nivel1 td a {
		/*	        color:Green;*/
		background: #e9f2df;
		text-decoration: underline;
	}

	table tr.nivel2 td a {
		/*	        color:Maroon;*/
		background: #fdf0ff;
		text-decoration: underline;
	}

	table tr.nivel3 td a {
		/*	        color:Navy;*/
		background: #e8fcfc;
		text-decoration: underline;
	}

	table tr.nivel4 td a {
		/*	        color:Orange;*/
		background: #fefce1;
		text-decoration: underline;
	}


table#dre tr td.valores
{
	width:190px;
}
table#mov_financeira tr td
{
	padding:3px;
}
table#mov_financeira tr td.valores
{
	width:110px;
	text-align:right;
	font-weight:bold;
}
table#mov_financeira tr.linha td
{
	border:0px;
	border-bottom:1px dashed #eee;
}
table#mov_financeira tr.linha td.entrada
{
	color:#75C425;
}
table#mov_financeira tr.linha td.saida
{
	color:#E35454;
}
table#mov_financeira tr.totalizador td
{
	background-color:#EEF5C4;
	color:#6E6552;
}
table#mov_financeira tr.resumo td
{
	font-weight:bold;
	background-color:#C3DDF7;
}
table#mov_financeira tr.inicio td
{
	font-weight:bold;
	border-top:1px solid #000;
	margin:2px 0 0 0;
}
table#mov_financeira tr.fim td
{
	font-weight:bold;
	border-bottom:1px solid #000;
	margin:0 0 2px 0;
}

table#mov_financeira tr.subtotal td {
	font-weight: bold;
	background-color: #FFE7BA;
	margin: 0 0 2px 0;
}

table#razao tr td
{
	padding:0 3px 0 3px;
		border-left:1px solid #eee;
}
table#razao tr.linha td
{
	border:0px;
	border-left:1px solid #eee;
	border-bottom:1px solid #eee;
}
table#razao tr.linha td.valores
{
	width:110px;
	
	padding:0;
}
table#razao tr.inicio td
{
	font-weight:bold;
	border-top:1px solid #000;
	margin:2px 0 0 0;
	border-bottom:1px solid #eee;
}

table#razao tr.inicio1 td
{
	font-weight:bold;
	border-top:1px solid #000;
	margin:2px 0 0 0;
	border-bottom:1px solid #eee;
	background-color:#a5fafe;
}
table#razao tr.fim td
{
	font-weight:bold;
	border-bottom:1px solid #000;
	margin:0 0 2px 0;
}
table#razao tr.lote td
{
	background-color:#B7ED74;
}
table#razao tr.data td
{
	background-color:#CEE9F5;
}
table#razao tr.conta td
{
	background-color:#F7D7D0;
}


table#titulos_pendentes tr.linha td
{
	border:0px;
}
table#titulos_pendentes tr.inicio td
{
	border-top:1px solid #000;
	margin:2px 0 0 0;
}
table#titulos_pendentes tr.inicio1 td
{
	border-top:1px solid #000;
	margin:2px 0 0 0;
	 background-color:#a5fafe;
}
table#titulos_pendentes tr.fim td
{
	border-top:1px solid #000;
	margin:0 0 2px 0;
	font-size:11px;
	font-weight:bold;
}
table#titulos_pendentes tr.modulo td
{
	padding:5px 0 5px 0;
	font-size:14px;
	font-weight:bold;
	color:Maroon;
	border:0px;
}

@media print {
	.thead {
		display: table-header-group;	

	}
}