#bloco
{
	width:600px;
	border:2px solid #183442;
	margin:80px auto 0 auto;
	display:table;
	background-color:#183442;
	padding:10px;
}
#bloco #areaDescricao
{
	float:left;
	color:#fff;
	width:200px;
	color:#ccc;
}
#bloco #areaDescricao h1
{
	font-size:16px;
	font-weight:bold;
	margin:2px;
	color:#fff;
	font-family:Arial;
}

#bloco #areaForm
{
	width:400px;
	float:right;
}
#bloco #areaForm fieldset
{
	margin:3px;
	padding:10px;
	background-color:#fff;
}
fieldset input,label,select{
    display:block;
    float:left;
}
fieldset label
{
    text-align:right;
    width:70px;
    padding:3px 10px 10px 0;
}
fieldset input,select,textarea
{
	font-size:12px;
	padding:2px;
	margin:0;
}
#bloco #areaForm fieldset .linha
{
    display:inline-block;
    width:100%;
}
#bloco #areaForm fieldset .botao
{
	float:left;
	border:1px solid #fff;
	background-color:#DE5D29;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	padding:3px 5px 3px 5px;
}
#bloco #areaForm fieldset .direita
{
	float:right;
}